<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>630137543754-ki0o39rqovao2r8j016f32ocrt5cjbdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630137543754-ki0o39rqovao2r8j016f32ocrt5cjbdn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630137543754-fnrn99bk50u2kd3qpuj9ik99057hvhir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk32bjw09ObZXyvtLPEjGpfYctZrhO1SY</string>
	<key>GCM_SENDER_ID</key>
	<string>630137543754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.arspace.OdiseaVR</string>
	<key>PROJECT_ID</key>
	<string>odisea-vr-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>odisea-vr-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630137543754:ios:9bf04dd55e3f39d0</string>
	<key>DATABASE_URL</key>
	<string>https://odisea-vr-firebase.firebaseio.com</string>
</dict>
</plist>